@charset "UTF-8";

body{
    background-color: rgba(167, 219, 115, 0.767);
    font-family: Arial, Helvetica, sans-serif;
}

#principal{
    text-align: center;
    background-color: rgb(45, 126, 45);
    color: white;
}

h1{
    color: rgba(32, 56, 7, 0.842);
}

h2{
    color: rgb(68, 110, 26);
}

.basico{
    color: green;
}

.intermediario{
    color: rgb(160, 160, 7);
}

.avancado{
    color: rgb(192, 62, 62);
}

.destaque{
    background-color: rgba(153, 153, 42, 0.562);
}